slackurl.txt
tournamentid.txt
username.txt
apikey.txt
stored-matches.json
stored-scores.json
data.json
node_modules
save.txt
challongeSlackNotifier-win.exe
challongeSlackNotifier-linux
challongeSlackNotifier-mac
```